!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        .login-title.custom-login
          = image_tag 'foss_banner_trans.png'
    %hr
    .container
      .content
        .row
          .col-md-7.brand-holder
            - if brand_item
              .brand-image
                = brand_image
              .brand_text
                = brand_text
            - else
              .brand-image.hidden-sm.hidden-xs
                = image_tag 'Foss_retro_logo.jpg'
              .brand_text.hidden-xs.custom-login
                %h2 GitLab server για τις ανάγκες των μελών της κοινότητας Ελεύθερου Λογισμικού ΕΜΠ

                %p.lead.custom-login
                  Οι εγγραφές είναι ανοιχτές για τα μέλη της Πολυτεχνειακής κοινότητας.
                  Πληροφορίες για το πως θα ανεβάσετε τον κώδικά σας θα βρείτε στο
                  = link_to "Wiki.", "https://foss.ntua.gr/wiki/index.php/GitLab"

          .col-md-5
            = yield
    %hr
    .container
      .footer-links
        = link_to "Explore", explore_root_path
        = link_to "Wiki", "https://foss.ntua.gr/wiki/"
        = link_to "Forum", "https://talk.foss.ntua.gr/"
        = link_to "Mailing List", "https://lists.ntua.gr/mailman/listinfo/foss-general"
        = link_to "IRC", "irc://chat.freenode.net:6697/foss.ntua"
        = link_to "About GitLab", "https://about.gitlab.com/"
